config PINCTRL_BCM63XX
	bool
	select GPIO_GENERIC

config PINCTRL_BCM6328
	bool "BCM6328 pincontrol driver" if COMPILE_TEST
	select PINMUX
	select PINCONF
	select PINCTRL_BCM63XX
	select GENERIC_PINCONF

config PINCTRL_BCM6348
	bool "BCM6348 pincontrol driver" if COMPILE_TEST
	select PINMUX
	select PINCONF
	select PINCTRL_BCM63XX
	select GENERIC_PINCONF

config PINCTRL_BCM6358
	bool "BCM6358 pincontrol driver" if COMPILE_TEST
	select PINMUX
	select PINCONF
	select PINCTRL_BCM63XX
	select GENERIC_PINCONF
	select MFD_SYSCON
