/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "brcm,bcm6328";

	cpus {
		cpu@0 {
			compatible = "brcm,bmips4350", "mips,mips4Kc";
		};
	};

	memory { device_type = "memory"; reg = <0 0>; };

	ubus@b0000000 {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0xb0000000 0x20000>;
		compatible = "simple-bus";

		interrupt-parent = <&ipic>;

		perf@0 {
			epic: epic {
				compatible = "brcm,bcm63xx-epic";
				interrupt-controller;
				#interrupt-cells = <2>;
			};

			ipic: ipic {
				compatible = "brcm,bcm63xx-ipic";
				interrupt-controller;
				#interrupt-cells = <1>;
			};

			clocks {
				#address-cells = <1>;
				#size-cells = <0>;

				periph: periph {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-frequency = <50000000>;
					clock-output-names = "periph";
				};

				mips: mips {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-output-names = "mips";
					brcm,gate-bit = <4>;
				};

				sar: sar {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-output-names = "sar", "xtm";
					brcm,gate-bit = <5>;
				};

				pcm: pcm {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-output-names = "pcm";
					brcm,gate-bit = <6>;
				};

				usbd: usbd {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-output-names = "usbd";
					brcm,gate-bit = <7>;
				};

				usbh: usbh {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-output-names = "usbh";
					brcm,gate-bit = <8>;
				};

				hsspi: hsspi {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-output-names = "hsspi";
					brcm,gate-bit = <9>;
					clock-frequency = <133333333>;
				};

				pcie: pcie {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-output-names = "pcie";
					brcm,gate-bit = <10>;
				};

				enetsw: enetsw {
					compatible = "brcm,bcm63xx-clock";
					#clock-cells = <0>;
					clock-output-names = "enetsw";
					brcm,gate-bit = <11>;
				};

			};
		};

		gpio0: gpio@80 {
			compatible = "brcm,bcm63xx-gpio";
			reg = <0x80 0x80>;
			gpio-controller;
			#gpio-cells = <1>;
			brcm,num-gpios = <32>;
		};

		uart0: serial@100 {
			compatible = "brcm,bcm63xx-uart";
			reg = <0x100 0x18>;
			interrupts = <28>;
			status = "disabled";
		};

		uart1: serial@120 {
			compatible = "brcm,bcm63xx-uart";
			reg = <0x120 0x18>;
			interrupts = <39>;
			status = "disabled";
		};
	};
};
