/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "brcm,bcm6368";

	cpus {
		cpu@0 {
			compatible = "brcm,bmips4350", "mips,mips4Kc";
		};
		cpu@1 {
			compatible = "brcm,bmips4350", "mips,mips4Kc";
		};
	};

	memory { device_type = "memory"; reg = <0 0>; };

	ubus@b0000000 {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0xb0000000 0x20000>;
		compatible = "simple-bus";

		interrupt-parent = <&ipic>;

		perf@0 {
			epic: epic {
				interrupt-controller;
				#interrupt-cells = <2>;
				compatible = "brcm,bcm63xx-epic";
			};

			ipic: ipic {
				interrupt-controller;
				#interrupt-cells = <1>;
				compatible = "brcm,bcm63xx-ipic";
			};
		};
	};
};
