/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "brcm,bcm6338";

	cpus {
		cpu@0 {
			compatible = "brcm,bmips3300", "mips,mips4Kc";
		};
	};

	memory { device_type = "memory"; reg = <0 0>; };

	ubus@fffe0000 {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0xfffe0000 0x20000>;
		compatible = "simple-bus";

		interrupt-parent = <&ipic>;

		perf@0 {
			epic: epic {
				interrupt-controller;
				#interrupt-cells = <2>;
				compatible = "brcm,bcm63xx-epic";
			};

			ipic: ipic {
				interrupt-controller;
				#interrupt-cells = <1>;
				compatible = "brcm,bcm63xx-ipic";
			};

			clocks {
				#address-cells = <1>;
				#size-cells = <0>;

				periph: periph {
					#clock-cells = <0>;
					compatible = "brcm,bcm63xx-clock";
					clock-frequency = <50000000>;
					clock-output-names = "periph";
				};

				adsl: adsl {
					#clock-cells = <0>;
					compatible = "brcm,bcm63xx-clock";
					clock-output-names = "adsl";
					brcm,gate-bit = <0>;
				};

				mpi: mpi {
					#clock-cells = <0>;
					compatible = "brcm,bcm63xx-clock";
					clock-output-names = "pcm";
					brcm,gate-bit = <1>;
				};

				enet_usbd: enet_usbd {
					#clock-cells = <0>;
					compatible = "brcm,bcm63xx-clock";
					clock-output-names = "enet", "enet0", "usbd";
					brcm,gate-bit = <5>;
				};

				sar: sar {
					#clock-cells = <0>;
					compatible = "brcm,bcm63xx-clock";
					clock-output-names = "sar";
					brcm,gate-bit = <6>;
				};

				spi: spi {
					#clock-cells = <0>;
					compatible = "brcm,bcm63xx-clock";
					clock-output-names = "spi";
					brcm,gate-bit = <9>;
				};
			};
		};

		uart0: serial@300 {
			compatible = "brcm,bcm63xx-uart";
			reg = <0x300 0x18>;
			interrupts = <2>;
			status = "disabled";
		};

		gpio0: gpio@400 {
			compatible = "brcm,bcm63xx-gpio";
			reg = <0x400 0x80>;
			gpio-controller;
			brcm,num-gpios = <8>;
		};
	};
};
